<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiming.system.mapper.system.SysRoleRuleMapper">

    <resultMap id="SysRoleRuleResult" type="com.yiming.system.domain.system.SysRoleRule">
        <!--@Table sys_role_rule-->
        <result property="roleId" column="role_id"/>
        <result property="ruleId" column="rule_id"/>
    </resultMap>

    <!--查询配置-->
    <sql id="selectVo">
        select
          role_id, rule_id
        from sys_role_rule
    </sql>
    
    <!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
		    id > 0
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="ruleId != null">
                and rule_id = #{ruleId}
            </if>
		</where>
	</sql>

</mapper>